* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.header {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.header img {
  height: auto;
  width: auto;
  max-width: 540px;
}

.header-desc {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  opacity: 0.6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
  ); /* Ensure each column has a minimum width of 200px */
  gap: 15px;
  max-width: 1350px;
  margin: auto;
  padding: 1rem;
}

.box-container {
  position: relative;
  border: solid black;
  border-radius: 0.7rem;
  min-width: 350px; /* Keep a minimum width */
  min-height: 400px;
  text-align: center;
  box-sizing: border-box; /* Include border in the box's dimensions */
  transition: all 0.2s ease;
}

.box-container:hover {
  transform: scale(1.02);
}

.godot-feature-project {
  background-image: url("images/godot-feature-project.png");
  background-size: cover;
}

.box-container-content {
  position: relative;
  z-index: 1;
  color: black; /* Example: text color on top of the semi-transparent background */
}

.bouncy-ball-project {
  background-image: url("images/bouncy-ball-project.png");
  background-size: cover;
  background-position: center;
  opacity: 0.05;
}

.status-container {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px;
  margin: 3px;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: flex-end; /* Align items to the end (right side) */
  background-color: azure;
  border-radius: 0.7rem;
  border: solid black 2px;
  opacity: 0.8;
}

.status-text {
  margin-right: 5px; /* Adjust margin between text and image */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  width: auto;
}

.status-container img {
  max-width: 16px; /* Ensure image does not exceed container width */
  height: auto; /* Maintain aspect ratio */
  vertical-align: middle; /* Align image vertically */
}

.filter-container {
  max-width: 1300px;
  margin: auto;
  padding: 0rem 1rem;
  display: flex;
  gap: 10px;
}

.filter-container img {
  max-width: 24px;
  transition: all 0.2s ease;
}

.filter-container img:hover {
  transform: scale(1.2);
}

.dropdown {
  position: relative;
  display: inline-block;
  border: solid black 2px;
  border-radius: 0.7rem;
  background-color: #f0f0f0;
}

.status-dropdown {
  max-width: 172px;
}

.technology-dropdown {
  max-width: 200px;
}

.dropdown-toggle {
  background-color: #f0f0f0;
  color: #000;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: inherit;
}

.dropdown-toggle.active {
  background-color: #d0d0d0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #f0f0f0;
  border: solid #757575 1px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.dropdown-menu .dropdown-item input[type="checkbox"] {
  margin-right: 8px;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.dropdown-item > * {
  width: auto;
}

.technology-container {
  position: absolute;
  bottom: 10%;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.more-dropdown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 40px); /* Adjust to fit inside the box-container */
  top: 100%; /* Position below the toggle button */
}

.more-dropdown .show {
  display: block;
}

.box-container.expanded {
  min-height: 500px; /* Adjust based on content */
}
