* {
    padding: 0;
    margin: 0;
    width:100%;
    box-sizing: border-box;
  }

.header {
    padding: 2rem;
    text-align: center;
    width:100%;
}

.header img {
    height: auto; 
    width: auto; 
    max-width: 540px; 
}


.header-desc {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    opacity: 0.6;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Ensure each column has a minimum width of 200px */
    gap: 15px;
    max-width: 1350px;
    margin: auto;
    padding: 1rem;
  }
  
.box-container {
    border: solid black;
    border-radius: .7rem;
    min-width: 350px; /* Keep a minimum width */
    min-height: 200px;
    text-align: center;
    box-sizing: border-box; /* Include border in the box's dimensions */
    transition: all 0.2s ease;
}

.box-container:hover {
    transform: scale(1.02);
}